### Calculating Errors

Here are two datasets that represent two of the examples you have seen in this lesson.  

One dataset is based on the parachute example, and the second is based on the judicial example.  Neither of these datasets are based on real people.

Use the questions below to assist in answering the quiz questions at the bottom of this page.

In [1]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [2]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [3]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.  

**Hint for quiz:** an error is any time the prediction doesn't match an actual value.  Additionally, there are Type I and Type II errors to think about.  We also know we can minimize one type of error by maximizing the other type of error.  If we predict all individuals as innocent, how many of the guilty are incorrectly labeled?  Similarly, if we predict all individuals as guilty, how many of the innocent are incorrectly labeled?

So the jud_data null is 'innocent', alternative is 'guilty'

So type 1 = incorrectly reject the null, ie: pred guilty when actually innocent

Therefore type 2 = incorrectly accept the null, ie: pred innocent when actually guilty

In [14]:
type1_count = len(jud_data[ (jud_data['predicted']=='guilty') & \
                           (jud_data['actual']=='innocent') ])
type1_error = type1_count / len(jud_data)
type1_error

0.001510366607167376

In [18]:
type2_count = len(jud_data.query( "actual=='guilty' & predicted=='innocent'"))
type2_error = type2_count / len(jud_data)
type2_error

0.04064259233832212

In [34]:
(jud_data.predicted != jud_data.actual).sum()

307

In [35]:
# total proportion of errors:
total_errors = (jud_data.predicted != jud_data.actual).sum()
proportion_errors = total_errors / len(jud_data)
proportion_errors

0.042152958945489497

In [36]:
# sol'n code....
jud_data[jud_data['actual'] != jud_data['predicted']].shape[0]/jud_data.shape[0] # Number of errros

0.042152958945489497

In [63]:
# If pred all as guilty (ie: len(jud_data), what is error rate?

# If everyone was predicted as guilty, then every actual innocent 
# person would be a type I error.

# This is a type I error since all pred as innocent means we will
# sometimes incorrectly reject the null

# Type I = pred guilty, but actual = innocent
len(jud_data[jud_data['actual']=='innocent']) / len(jud_data)

0.45159961554304545

In [47]:
#If everyone has prediction of guilty, then no one is predicted inncoent
#Therefore, there would be no type 2 errors in this case

# Type II errs = pred innocent, but actual = guilty
0

0

`2.` Using the **par_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 2 below.

These should be very similar operations to those you performed in the previous question.

In [54]:
type1_count = len(par_data.query("actual=='fails' and predicted=='opens'"))
type1_errors = type1_count / len(par_data)
type1_errors

0.00017155601303825698

In [55]:
type2_count = len(par_data.query("actual=='opens' and predicted=='fails'"))
type2_errors = type2_count / len(par_data)
type2_errors

0.03980099502487562

In [66]:
# total errors
#type1_count + type2_count #233
#len(par_data.query("actual != predicted")) # same
#len(par_data.query("actual != predicted")) / len(par_data)
type1_errors+type2_errors

0.039972551037913875

In [67]:
''' Since type I error is incorrectly rejecting the null, and we want to 
aviod this, we set all preds to all chutes fail to open. Therefore we 
have no type I errors, because we always accept the null (pred chutes fail)
'''

' Since type I error is incorrectly rejecting the null, and we want to \naviod this, we set all preds to all chutes fail to open. Therefore we \nhave no type I errors, because we always accept the null (pred chutes fail)\n'

In [69]:
''' Since type II error is incorrectly accepting the null, we assume all
preds that chutes do open. The type II errors then are those where we have
incorrectly accepted the null, meaning we predicted the chute will fail 
but it actually opened. So the error rate is all the times it opens out of
all the jumps in total.
'''

len(par_data.query(" actual=='opens' ")) / len(par_data)

0.9917653113741637